body,ul,li,h1,h2,p {margin:0;padding:0; list-style:none}
.stretch {height:100%}
.overview-box h2 {margin:0 0 12px; padding:0 0 3px; text-align:center; font-size:19px; border-bottom:1px solid #448}
body {position:relative}
.map-box {margin-right:340px; height:100%; position:relative}
#map-canvas { height: 100%} 
/*.overview-bg {background:#000; opacity:0.8}*/
#overview {opacity:1; padding:15px 20px 0}
.overview-box { position:absolute; right:0; top:0; width:340px; height:100%; overflow-y:auto; border-left:1px solid #448; background:#99a}
.overview-box li {margin:0 auto 10px; padding:0; text-align:center}
.overview-box img {max-width:220px; max-height:220px; border:1px solid #448}
.latLng-box {width:100%; position:absolute; bottom:0; text-align:center}
#latLng {margin:auto; font-size:11px; padding:10px; background:#99a; width:150px}
.legend-box {position:absolute; top:4px; width:100%}
#legend {margin:auto; text-align:center}
#legend ul {display:inline; padding:11px 20px; background:#99a; font-size:11px}
#legend li {display:inline; padding:0 0 0 20px; background:url('') no-repeat}
#legend a {text-decoration:none; color:#fee; letter-spacing:1px}
#legend a.pressed, .important {color:#b00}

/*form.html*/
.moria-gate {margin:230px auto; padding:30px; text-align:center; width:250px; background:#eef}
.moria-gate input {width:215px; margin:12px 0 0}
